@import "../../demo.css";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

#demo9-canvas {
    height: 500px;
    width: 1000px;
}