body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#describe-div {
    position: fixed;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

#demo2-canvas {
    height: 500px;
    width: 1000px;
}