@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

button,
fieldset,
input {
    all: unset;
}

.TabsRoot {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 10px var(--black-a4);
    color: white;
    background-color: black;
}

.TabsList {
    min-height: 30px;
    flex-shrink: 0;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    width: 100%;
}

.TabsTrigger {
    box-sizing: border-box;
    font-family: inherit;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 1;
    color: var(--mauve-11);
    user-select: none;
    border-bottom: 2px solid var(--violet-11);
}

.TabsTrigger:first-child {}

.TabsTrigger:last-child {}

.TabsTrigger:hover {
    color: var(--violet-11);
}

.TabsTrigger[data-state="active"] {
    color: var(--violet-11);
    border-top: 2px solid var(--violet-11);
    border-left: 2px solid var(--violet-11);
    border-right: 2px solid var(--violet-11);
    border-bottom: 0px;
}

.TabsTrigger:focus {}

.TabsContent {
    flex-grow: 1;
    outline: none;
    overflow: hidden;
}

.TabsContent:focus {}

.ScrollAreaRoot {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-left: 2px solid var(--violet-11);
    border-right: 2px solid var(--violet-11);
    border-bottom: 2px solid var(--violet-11);
    overflow: hidden;
    background-color: black;
}

.ScrollAreaViewport {
    width: 100%;
    height: 100%;
}

.ScrollAreaScrollbar {
    width: 2px;
    height: 10px;
    display: flex;
    user-select: none;
    touch-action: none;
    padding: 2px;
    background: rgba(0, 0, 0, 0.05);
}

.ScrollAreaThumb {
    flex: 1;
    background: #666;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        min-width: 44px;
        min-height: 44px;
    }
}

.ScrollAreaCorner {
    background: transparent;
}

.DemoOption {
    box-sizing: border-box;
    border: 1px solid #666;
    padding: 5px;
}

.DemoOption:hover {
    box-sizing: border-box;
    border-bottom: 1px solid #666;
    background-color: var(--violet-11);
}

.DemoOptionDescribe {
    font-size: smaller;
    color: rgba(200, 200, 200, 1);
}