@import "../../demo.css";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#demo15-canvas {
    height: 100%;
    width: 100%;
}

#loading-div {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}