body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

#demo-frame {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-color: rgb(180, 19, 19);
}

#option-div {
    height: 8%;
    width: 100%;
    border: none;
    background-color: black;
}

.demo-canvas {
    height: 100%;
    width: 100%;
}

.ClsGridColumn {
    height: 100%;
}